li { margin: 10px; padding: 5px }

input[name] {
    border: solid 3px blue;
}

input[type=tel] {
    border: solid 3px green;
}

li[class~="separada"] {
    border: solid 3px orange;
}

li[class^="ini"] {
    border: solid 3px purple;
}

li[class$="mino"] {
    border: solid 3px yellow;
}

li[class*="lque"] {
    border: solid 3px blue;
}

li[class|="en"] {
    border: solid 3px red;
}

:root {
    background: #eee;
}

li:nth-child(6) {
    border: solid 3px green;
}

li:nth-last-child(3) {
    border: solid 3px purple;
}

li:empty {
    border: solid 3px orange;
}

select:enabled {
    border: solid 3px green;
}

select:disabled {
    border: solid 3px red;
}

div.pai {
    border: solid 3px orange;
    margin: 10px;
    padding: 10px;
}

div.pai > span {
    border: solid 3px black;
}

div.box1 {
    width: 200px;
    height: 200px;
    background-color: #FFF;
    float: left;
    margin-right: 10px;
    background-image: -moz-linear-gradient(green, red);
    background-image: -webkit-linear-gradient(green, red);
    background-image: -o-linear-gradient(green, red);
}

div.box2 {
    width: 200px;
    height: 200px;
    background-color: #FFF;
    float: left;
    margin-right: 10px;
    background-image: -moz-linear-gradient(green, red 20%);
    background-image: -webkit-linear-gradient(green, red 20%);
    background-image: -o-linear-gradient(green, red 20%);
}

div.box3 {
    width: 200px;
    height: 200px;
    background-color: #FFF;
    float: left;
    margin-right: 10px;
    background-image: -moz-linear-gradient(green 10%, red 20%);
    background-image: -webkit-linear-gradient(green 10%, red 20%);
    background-image: -o-linear-gradient(green 10%, red 20%);
}

/* Continuação */

div.gradientes {
    margin: 20px;
    height: 220px;
}

p.colunas {
    margin: 0;

    /* Define a quantidade de colunas, a largura é 
    definida uniformemente. */
    -moz-column-count: 2;
    -webkit-column-count: 2;

    /* Define qual a largura mínima para as colunas. 
    Se as colunas forem espremidas, fazendo com que a largura
    delas fique menor que este valor, elas se transformam em 
    1 coluna automaticamente */
    -moz-column-width: 400px;
    -webkit-column-width: 400px;

    /* Define o espaço entre as colunas. */
    -moz-column-gap: 50px;
    -webkit-column-gap: 50px;
}

div.bordas {
    /* Border */
    border: solid 30px;
    -webkit-border-image: url(border4.png) 30 repeat;
    -moz-border-image: url(border4.png) 30 repeat;
    border-image: url(border4.png) 30 repeat;
}

a {
    display: block;
    width: 100px;
    text-align: center;
    font: bold 13px verdana, arial, tahoma, sans-serif;
    text-decoration: none;
    color: black;
    border-width: 10px;
    -webkit-border-image: url(button.png) 15 stretch;
}