* { margin: 0; padding: 0 }
body { width: 80%; margin: 20px auto }
header, nav, article, aside, footer, label { padding: 5px }
header {
    background: #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 8px;
}
body > nav {
    background: #777;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 8px;
}

nav.menu > a { color: #fff; text-decoration: none }
nav.menu > a:after { content: " | " }
nav.menu > a:last-child:after { content: "" }

article > nav {
    background: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 5px
}

nav.tags > a { text-decoration: none }
nav.tags > a:after { content: ", " }
nav.tags > a:last-child:after { content: "" }

section.comments {
    margin-top: 10px;
}

fieldset {
    width: 350px;
    padding: 10px;
    border: solid 1px #777;
    background: #f2f2f2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: right;
}
fieldset > legend {
    padding: 2px 5px;
    border: solid 1px #777;
    margin-left: 10px;
    background: #f2f2f2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

fieldset input[type=text], fieldset input[type=email], fieldset textarea { width: 250px }

label { display: block }

main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
section.posts {
    background: #ddd;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    /*-webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    -o-order: 2;
    order: 2;*/
}
aside.sidebar {
    background: #eee;
    width: 200px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    /*-webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;*/
}

/* menus da sidebar */
ul.links-sidebar {
    list-style: none;
}
ul.links-sidebar li a {
    display: block;
    background: #ddd;
    text-decoration: none;
    color: #777;
    padding: 8px;
    border-bottom: solid 1px #ccc;
}
ul.links-sidebar li a:hover {
    background: #fff;
}
ul.links-sidebar li:first-child {
    background: #ccc;
    padding: 8px;
    font-weight: bold;
    color: #555;
    cursor: default;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}
ul.links-sidebar li:last-child a {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom: none;
}

footer {
    background: #999;
    color: white;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}

/* estilizando tabela */
table {
    width: 100%;
    background: #777;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
caption {
    background: #555;
    color: #fff; padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
th { background: #ddd }
th, td {
    border: solid 1px #777;
    padding: 3px 6px;
    margin: 0;
    white-space: nowrap;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
td { font-size: 12px; background: #fff }