<!DOCTYPE html>
<html ng-app lang="pt-br">
<head>
    <title>Lista de compras</title>
    <style>.comprado-true { background: #eee }</style>
    <script src="angular.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        // Funciona com servidor. Ex. python -m SimpleHTTPServer
        function TestAjaxController($scope, $http) {
            $scope.testGetApp = function() {
                $http({method: "GET", url: "test.html"}).
                success(function(data, status, headers, config) {
                    $scope.data = data;
                    $scope.status = status;
                }).
                error(function(data, status, headers, config) {
                    $scope.data = data || "A requisição falhou";
                    $scope.status = status;
                });
            };
        }
    </script>
</head>
<body>
<strong>Simple teste de ajax com Angular</strong>
<div ng-controller="TestAjaxController">
    <button ng-click="testGetApp()">TestGet</button>
    <div>{{data}}</div>
    <div>{{status}}</div>
</div>
</body>
</html>