<!DOCTYPE html>
<html ng-app>
<head>
    <title>Hello</title>
    <script src="libs/angular.min.js"></script>
</head>
<body>
<div>
    <input type="text" ng-model="nome" placeholder="Digite seu nome" autofocus>
    <hr>
    <h1>Hello {{nome}}!</h1>
</div>
</body>
</html>