body 			{font:62.5% Verdana, Geneva, sans-serif; margin:0; padding:0}
#superbanner	{height:90px; margin:10px auto 0; padding:0; width:728px}
a 				{color:#000}
h1,p			{color:#898988; text-align:center}
.update 		{margin:0 auto; text-align:right; width:960px}
table			{border:0; font-size:1.2em; margin:20px auto; width:960px}
table thead tr	{background-color: #898988; color:#fff}
table tr		{background-color: #A5CF35; color:#fff}
table tr.alt	{background-color: #F1F9DF; color:#777}
table tr .new	{color:green; font-weight:bold; text-align:center; text-transform:uppercase}