<!DOCTYPE html>
<html ng-app lang="pt-br">
<head>
    <title>Lista de compras</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="angular.min.js" type="text/javascript"></script>
    <script src="script.js" type="text/javascript"></script>
</head>
<body>
<table ng-controller="compras_controller">
    <thead>
    <tr>
        <th class="comprou"></th>
        <th class="produto">Produto</th>
        <th class="quantidade">Qtd</th>
        <th><button class="btn" ng-click="apagarSelecionados()" title="Apagar produtos selecionados">-</button></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="compra in compras" class="comprado-{{compra.comprado}}" ng-click="selecionaLinha()">
        <td class="comprou"><input id="campo-{{$index}}" type="checkbox" ng-model="compra.comprado"></td>
        <td class="produto"><label for="campo-{{$index}}">{{compra.produto}}</label></td>
        <td class="quantidade"><label for="campo-{{$index}}">{{compra.quantidade}}</label></td>
        <td></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td class="comprou">{{faltantes()}} de {{compras.length}}</td>
        <td colspan="3">
            <form ng-submit="adicionarProduto()">
                <input required title="nome do produto" class="produto" id="produto" type="text" placeholder="Produto" autofocus ng-model="produto">
                <input required title="quantidade de produtos" class="quantidade" type="number" size="3" maxlength="3" min="1" placeholder="Qtd" ng-model="quantidade">
                <input class="btn" type="submit" value="+" title="Adicionar produto">
            </form>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>